 /* styles and positions the quote on the first page */


 /* styles and positions the 'click here' button */
 #button {
   position: relative;
   z-index: 999;
 }  

 /* positions the frame div which contains logo, quote and button */
 #frame {
   display: flex;
   flex-direction: column;
 }